
#scrabble {
	margin:10px;
}
input#in {
}
#board {
	position:relative;
	border:2px solid #000;
}
.field {
	position:absolute;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	
	font-family:Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	font-size:20px;
	
	background:#eee;
}
.field.at {
	background:#D3D3D3;
}
.field.written {
	background:#A9D5F2;
}
.field.written.at {
	background:#45B0F7;
}